<div class="sidebar">
    <img src="https://www.vangoghgallery.com/img/starry_header.jpg" class="center">
<!--    <div style="text-align: center; font-size: 1em">Welcome to Spring Post. Come here to
            check in with your favorite categories.</div> -->
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubspringpost" (click)="goToCreateSubspringpost()">Create Category</button>
    </div>
</div>
